/* Alit */
/* Indra Damar Jati <indradamarjati21@gmail.com> */
/* MIT License - 2023 */

:root {
  --foreground: black;
  --background: white;
  --font-family-serif: serif;
  --font-family-mono: monospace;
  --border: lightgray;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-serif);
  max-width: 650px;
  margin: 0 auto;
  font-variation-settings: "wght" 400, "ss03";
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-size: 3em;
}

figure {
  width: 100%;
  padding: 0;
  margin: 0;
}

img {
  display: block; /* remove this line if you wanna to separate between image and caption */
  width: 100%;
}

figcaption {
  text-align: center;
  background-color: var(--foreground);
  color: var(--background);
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

pre {
  overflow: auto;
  border: 1px solid var(--border);
}

p {
  line-height: 1.6;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 8px;
  border: 1px solid var(--foreground);
  vertical-align: top;
  text-align: left;
}

@media only screen and (max-width: 650px) {
  body {
    margin: 1em;
  }
}