/* damar.css */
/* Indra Damar Jati <indradamarjati21@gmail.com> */
/* MIT License - 2023 */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono&display=swap');

:root {
  --foreground: #393b3f;
  --background: #edeaea;
  --font-family-serif: 'Crimson Pro', serif;
  --font-family-mono: "JetBrains Mono", monospace;
  --border: lightgray;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-serif);
  max-width: 650px;
  margin: 0 auto;
  letter-spacing: -0.03em;
  font-variation-settings: "wght" 400, "ss03";
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 1em;
  }
}

h1 {
  font-size: 3em;
}

img {
  width: 100%;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

pre > code {
  margin-left: 20px;
}

code { 
  font-family: 'JetBrains Mono', monospace;
}

a {
  color: #5500ff;
  transition: 200ms;
  text-decoration: none;
}

a:hover {
  color: #ba30ff;
  transition: 200ms;
}

p {
  line-height: 1.6;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 4px 0px;
  border-bottom: 1px solid var(--foreground);
  vertical-align: top;
  text-align: left;
}

#arabic {
  font-family: var(--font-family-arabic);
  text-align: right;
}